*{
	box-sizing: border-box;
	overflow: auto;
}
body{
	margin: 0px;
	padding: 0px; 
}
#entete{
	background-color: rgb(72,244,246);
	color: black;
	font-size: 5em;
	/*font-family: "Agency FB";*/
	/*font-family: "Arial Black";*/
	font-family: "Georgia";
	/*font-family: "Lucida Console";*/
	text-align: center;
	text-transform: uppercase;
	text-shadow: red 0.1em 0.1em 0.2em;
	padding: 0%;
	position: absolute;
	top: 0%;
	height: 14%;
	width: 100%;
}
#logo{
	position: absolute;
	right: 0%;
	top: 0%;
	margin: 0%;
	/*object-fit: cover;*/
}
#menu{
	/*text-align: center;*/
	font-family: "Georgia";
	color: white;
	background-color: rgb(72,244,246);
	border-top: solid black 2px;
	position: absolute;
	left: 0%;
	width: 20%;
	top: 14%;
	height: 81.7%;
}
/*#menu ul, #menu li{
	display: inline;
}*/
#menu li a{
	text-align: left;
	display: inline-block;
	font-size: 1.2em;
	padding: 10px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	border-left: double black 5px;
	text-shadow: coral 0.1em 0.1em 0.2em;
}
#menu li a:hover{
	border-bottom: solid blue 2px;
}
h1:first-child
{
	text-align: center;
	color: grey; 
	text-shadow: -1px 0 rgb(72,244,246), 0 1px rgb(72,244,246),
      1px 0 rgb(72,244,246), 0 -1px rgb(72,244,246);
}
h2{
	text-shadow: coral 0.1em 0.1em 0.2em;
	font-style: italic;
}
#contenu
{
	position: absolute;
	right: 0%;
	width: 80%;
	top: 14%;
	height: 81.7%;
	padding: 0px;
	padding-top: 0px;
	margin: 0%;
/* 	background-color: rgb(221,211,201); */
}
#firstp, #ps{
	font-style: italic;
}
#rs a{
	text-decoration: none;
}
#monImage{
	border: solid 4px coral;
	border-radius: 30px;
	margin: 70px;
}
.alinea{
	text-indent: 5%;
	line-height: 1.5;
}
p{
	line-height: 1.5;
}
.gauche{
	width: 60%;
}
.droite{
	position: absolute;
	top: 18%;
	right: 0%;
}
#insert1{
	position: absolute;
	right: 10%;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
#pied{
	position: absolute;
	width: 100%;
	bottom: 0%;
	height: 4.3%;
	background-color: rgb(72,244,246);
	color: black;
	text-align: center;
	font-family: "Agency FB";
	font-size: 1.2em;
	padding: 5px;
	border: 1px solid black;
	overflow: hidden;
}
@media all
	and (max-width: 530px)
	and (max-height: 720px) {
*{
	box-sizing: border-box;
	overflow: auto;
}
body{
	margin: 0px;
	padding: 0px; 
}
#entete{
	background-color: rgb(72,244,246);
	color: black;
	text-align: center;
	font-family: "Georgia";
	text-transform: uppercase;
	font-size: 3em;
	text-shadow: red 0.1em 0.1em 0.2em;
	padding: 0%;
	position: absolute;
	top: 0%;
	height: 14%;
	width: 100%;
}
#logo{
	position: absolute;
	left: 0%;
	top: 14%;
	margin: 0%;
	height: 14%;
	width: 28%;
	overflow: hidden;
	visibility: visible;
	/*object-fit: cover;*/
}
#menu{
	font-family: "Georgia";
	color: white;
	background-color: rgb(72,244,246);
	border-top: solid black 2px;
	position: absolute;
	left: 0%;
	width: 28%;
	top: 14%;
	height: 81.7%;
}
/*#menu ul, #menu li{
	display: inline;
}*/
#menu li a{
	text-align: left;
	display: inline-block;
	font-size: 0.1em;
	padding: 10px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	border-left: double black 5px;
	text-shadow: coral 0.1em 0.1em 0.2em;
}
#menu li a:hover{
	border-bottom: solid blue 2px;
}
h1:first-child
{
	text-align: center;
	font-size: 0.8em;
	color: grey; 
	text-shadow: -1px 0 rgb(72,244,246), 0 1px rgb(72,244,246),
      1px 0 rgb(72,244,246), 0 -1px rgb(72,244,246);
}
h2{
	text-shadow: coral 0.1em 0.1em 0.2em;
	font-style: italic;
	font-size: 0.6em;
}
#contenu
{
	position: absolute;
	right: 0%;
	width: 72%;
	top: 14%;
	height: 81.7%;
	padding: 0px;
	padding-top: 0px;
	margin: 0%;
/* 	background-color: rgb(221,211,201); */
}
#firstp, #ps{
	font-style: italic;
}
#rs a{
	text-decoration: none;
}
#st {
	font-size: 0.1em;
}
#monImage{
	border: solid 4px coral;
	border-radius: 30px;
	margin: 70px;
	height: 100%;
	width: 80%;
}
.alinea{
	text-indent: 5%;
	line-height: 1.5;
}
p{
	line-height: 1.5;
	font-size: 0.5em;
}
.gauche{
	width: 55%;
	font-size: 0.5em;
}
.droite{
	position: absolute;
	top: 18%;
	right: 0%;
}
#insert1{
	position: absolute;
	right: 10%;
}
/* #my{
	position: absolute;
	height: 35%;
	width: 35%;
} */
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
#pied{
	position: absolute;
	width: 100%;
	bottom: 0%;
	height: 4.3%;
	background-color: rgb(72,244,246);
	color: black;
	text-align: center;
	font-family: "Agency FB";
	font-size: 0.4em;
	padding: 5px;
	border: 1px solid black;
	overflow: hidden;
}
}
